:root {
	--main-color: #242830;
	--font-color: white;
	--font-family: 'Cherry Swash', cursive, sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--main-color);
}

header {
	background: var(--font-color);
	padding: 20px;
}

header > h1 {
	color: var(--main-color);
	text-align: center;
	font-family: var(--font-family);
}

#score-board {
	margin: 20px auto;
	border: 3px solid var(--font-color);
	border-radius: 5px;
	text-align: center;
	width: 200px;
	color: var(--font-color);
	font-size: 46px;
	padding: 15px 20px;
	font-family: var(--font-family);
	position: relative;
}

.badge {
	background: #e25840;
	color: var(--font-color);
	font-size: 14px;
	padding: 2px 10px;
	font-family: var(--font-family);
}

#user-label {
	position: absolute;
	top: 35px;
	left: -25px;
}

#computer-label {
	position: absolute;
	top: 35px;
	right: -25px;
}

#result {
	font-size: 40px;
	color: var(--font-color);
	margin: 30px;
}

#result > p {
	text-align: center;
	font-family: var(--font-family);
	font-weight: bold;
}

.hide {
	display: none;
}

#choices {
	margin-top: 30px;
	text-align: center;
}

.choice {
	border: 4px solid var(--font-color);
	border-radius: 50%;
	display: inline-block;
	padding: 15px;
	margin: 0 20px;
	transition: all 0.3s ease;
}
.choice:hover {
	cursor: pointer;
	background: #0e1118;
}

#action-message {
	text-align: center;
	color: var(--font-color);
	font-size: 35px;
	margin-top: 40px;
	font-family: var(--font-family);
}

#action-message > div {
	margin: 15px;
}

#action-message > div > span {
	font-size: 2.5rem;
}

/* #win-score {
	border: 1px solid gray;
	border-radius: 15px;
	display: inline-flex;
}
#win-score input {
	max-width: 70px;
	background: var(--main-color);
	color: white;
	margin: 0.25em;
	border: 0;
	text-align: center;
	font-size: 35px;
} */
